In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [ ]:
data = "../01_dataset/yellow_tripdata_2021-01.csv"
df = pd.read_csv(data, nrows=100)

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [ ]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

In [ ]:
df_iter = pd.read_csv(data, iterator=True, chunksize=100000)
df = next(df_iter)
len(df)

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df

In [ ]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [ ]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

In [ ]:
while True:
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [ ]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')
df_zones.head()

In [ ]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')