In [2]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [3]:
data = "../01_dataset/yellow_tripdata_2021-01.csv"
df = pd.read_csv(data, nrows=100)

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [ ]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

In [ ]:
df_iter = pd.read_csv(data, iterator=True, chunksize=100000)
df = next(df_iter)
len(df)

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df

In [ ]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [ ]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

In [ ]:
#Test
df_iter = pd.read_csv(data, iterator=True, chunksize=100000)

t_start = time()
batch_count = 0
total_rows = 0

for df in df_iter:

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    b_start = time()
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    b_end = time()

    batch_count += 1
    rows = len(df)
    total_rows += rows

    print('Batch {batch_count} inserted {rows} rows and took %.3f seconds.\n' % (b_end - b_start))

t_end = time()
print(f'Completed. Total time taken {t_end-t_start:.3f} seconds for {batch_count} batches.')

In [ ]:
#Original

while True:
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [ ]:
# Insert values into the table
t_start = time()
count = 0
for batch in file.iter_batches(batch_size=100000):
    count+=1
    batch_df = batch.to_pandas()
    print(f'inserting batch {count}...')
    b_start = time()

    batch_df.to_sql(name='ny_taxi_data',con=engine, if_exists='append')
    b_end = time()
    print(f'inserted! time taken {b_end-b_start:10.3f} seconds.\n')

t_end = time()
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

In [ ]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')
df_zones.head()

In [ ]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')